*{
    margin: 0;
    padding: 0;
  font-family: "Raleway", serif;
}


html{
    font-size: 10px;
  }


/* NAVIGATION STARTS HERE */



#mynavigation{
    background: none;
    border: none;
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  
  
  #mynavigation:hover{
    background-color: #fff;
  }
  
  
  #mynavigation .navbar-brand{
    position:relative;
    color:#fd6802;
    top:-20px;
    font-size: 7rem;
    font-weight: 600;
  }
  
  #mynavigation .navbar-brand span{
    color:#999;
  }
  
  #mynavigation {
    height:80px;
    background-color: #fff;
    border: none;
  }
  
  #mynavigation ul li a{
    color:#1b1a1a;
    font-size: 2rem;
    background-color: #fff;
    font-weight: 400;
  }
  
  #mynavigation ul li a:hover{
    border-radius:25px 0px 25px 0px;
    background-color: #fd6802;
    color:#fff;
  }
  
  #mynavigation ul li{
    margin-top: 20px;
    /* margin-right: 25px; */
    transform: 1s;
  }
  
  /* NAVIGATION ENDS HERE */

  /* FIRST SECTION STARTS HERE */

  .first{
    /* height: 70vh; */
    background-image: linear-gradient(rgba(0, 0, 0,0.8)0%, rgba(0, 0, 0,0.8)100%),url("../Image/inner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 170px 0px ;
    color: #fff;
  }

 .first h1{
  color: #fff;
  font-size: 6rem;
  border-left: 10px solid #fd6802;
  
  }

  .first h4:hover{
    color: #fd6802;
  }

  /* FIRST SECTION ENDS HERE */

  /* SECOND SECTION STARTS HERE */

  .second{
    /* background-color: green; */
  }

  .sec1{
    text-align: center;
  }

  .sec-box{
    padding: 25px;
    box-shadow: rgba(49, 73, 108, 0.1) 2px 2px 2px 2px;
  }

  .sec-box .glyphicon{
    color: #000;
    font-size: 4rem;
    transition: 1.5s;
    /* padding-left:85px; */
    /* padding-top: 10px ; */
  }

  .sec-box .glyphicon:hover{
    transform: rotate(360deg);
    color: #fd6802;
  }

  .sec-box h2:hover{
    color: #fd6802;
  }

  .sec-box p{
    font-size: 2rem;
    color: #999;
  }

  


  /* SECOND SECTION ENDS HERE */

  /* THIRD SECTION STARTS HERE */
  
.four{
  background-color:#f2f3f5 ;
  padding-top: 90px;
  padding-bottom: 90px;
}



.four-top{
  text-align: center;
  margin-bottom: 30px;
}

.four-top h1{
  color:#1b1a1a;
  font-size: 4rem;
  font-weight: 600;
}

.four-top p{
  color:#999;
  font-size: 1.7rem;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}

.four-bottom h3{
    color:#1f1f1f;
    font-size:2.3rem ;
    font-weight: 600;
}

.four-bottom p{
    color: #999;
    font-size: 1.5rem;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.four-bottom .card{
    background-color: #fff;
}

.four-bottom .card .content{
    padding:12px;
}

.four-bottom .card img{
    width:100%;
}

.four-btn{
    text-align: center;
    margin-top: 70px;
}

.btn2{
  border-radius:25px 0px 25px 0px;
  background-color:#fd6802;
  color:#fff;
  padding:15px 40px 15px 40px;
  font-weight: 500;
  font-size: 2rem;
}

.btn2:hover{
  background-color: gray;
  border: 2px solid #fd6802;
}

/* THIRD SECTION ENDS HERE */

/* FOURTH SECTION ENDS HERE */


.seven{
  padding: 80px 0px;
  background-image:url(../Image/parallax_03.jpg);
}

.seven-top{
  text-align: center;
  font-size: 2rem;
}

.seven-top h1{
  color: #fff;
  font-size: 6rem;
}


.seven-top p{
  color: #999;
}

/* FOURTH SECTION ENDS HERE */



/* FIFTH  SECTION STARTS HERE */


.eight{
  background-color: #393939;
  padding-top: 50px;
  padding-bottom: 50px;
}

.eight p{
  color:#999;
  font-size: 1.5rem;
  line-height: 25px;
  margin-top: 20px;
}

.eight h2{
  color:#fff;
  font-size: 2.5rem;
}

.eight-one h1{
  color:#fd6802;
  font-size:3rem;
}

.eight-one span{
  color:#aaa;
}


.eight ul{
  margin-top: 20px;
}

.eight ul li a{
  text-decoration: none;
  color:#999;
  font-size: 1.5rem;
}

.eight ul li{
    list-style: none;
    margin-bottom:10px ;
    padding-bottom:10px ;
    border-bottom:1px dashed #504f4f ;
}

.input-group{
    margin-top: 20px;
}

/* FIFTH SECTION ENDS HERE */

/* LAST SECTION STARTS HERE */

.footer{
  background-color: #010000;
  padding-top:40px;
  padding-bottom:40px;
}

.footer p{
  color:#666;
  font-size:1.5rem;
  font-weight: 300;
}

.footer span{
  color:#fff;
  font-weight: 400;
  transition: 0.5s;
}


.footer span:hover{
  color:#fd6802;
}

/* LAST SECTION ENDS HERE */


/* MEDIA QUERY STARTS HERE */



@media only screen and (max-width:1400px){
    
  /* section 1 */

  .first .content{
      top:450px;
  }
}



@media only screen and (max-width:992px){

  #mynavigation ul li a{
    font-size: 1.5rem;
  }
  .six-icons{
    position: relative;
    right: 22px;
  }
}

@media only screen and (max-width:768px){
}


@media only screen and (max-width:450px){

  .four .no{
    display: none;
  }

}

















